@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06161a;
}

.contenedor {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #072E33;
    border-radius: 20px;
}

.inicio-box {
    position: relative;
    margin:25px 25px;
}

form {
    width: 100%;
    padding: 0 20px;
}

h2 {
    font-size: 2em;
    text-align: center;
    color:  #56c9bf;
}

.inicio-box {
    position: relative;
    margin: 25px 0;
}

input {
    border-radius: 20px;
    border: solid 2px #0c7075;
    background: transparent;
    font-size: 1em;
    color: #fff;
    padding: 2px 10px;
    transition: 5s ease;
}

input:focus {
    border-color: #56c9bf;
}

label {
    position: absolute;
    left: 40px;

}
.correo{
    top: 53px;
}
.con{
    top: 85px;
}